body {
  font-size: 16px;
  background: #f9f9f9;
  font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}
h2 {
  text-align: center;
}
form {
  width: 800px;
  background: #fff;
  padding: 15px 40px 40px;
  border: 1px solid #ccc;
  margin: 50px auto 0;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"] {
  border: 1px solid #ccc;
  padding: 10px;
  display: block;
  width: 700px;
  box-sizing: border-box;
  border-radius: 2px;
  border-color: #006dcc;
  margin-bottom: 5px;
}

input[type="number"] {
  border: 1px solid #ccc;
  padding: 10px;
  display: block;
  width: 700px;
  box-sizing: border-box;
  border-radius: 2px;
  border-color: #006dcc;
}

input[type="email"] {
  border: 1px solid #ccc;
  padding: 10px;
  display: block;
  width: 700px;
  box-sizing: border-box;
  border-radius: 2px;
  border-color: #006dcc;
}

input[type="password"] {
  border: 1px solid #ccc;
  padding: 10px;
  display: block;
  width: 700px;
  box-sizing: border-box;
  border-radius: 2px;
  border-color: #006dcc;
  margin: 5px 0px 5px 0px;
}

input[type="submit"] {
  font-size: 110%;
  font-weight: 100;
  background: #006dcc;
  box-shadow: 0 3px 0 #0165b6;
  color: #fff;
  margin-top: 10px;
  cursor: pointer;
}
input[type="tel"] {
  border: 1px solid #ccc;
  padding: 10px;
  display: block;
  width: 700px;
  box-sizing: border-box;
  border-radius: 2px;
  border-color: #006dcc;
}

select {
  background: #006dcc;
}

.tstyle {
  margin-top: 20px;
}


